
.individual-banner {
	padding: 50px;
	margin: 140px auto;
	border-radius: 20px;
	background-color: #fff;
	text-align: left;
	h2 {
		color: #4d4d4d;
		margin-bottom: 50px;
	}
	p {
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 24px;
		color: #666666;
	}
}

.features {
		.nav-button a {
			display: inline-block;
			margin: 0 auto;
			color: #fff;
			border: 1px solid #fff;;
			&:hover,&.hover_effect, &:focus {
				color: #fff;
				border: 1px solid #fff;
		}
	} 
}

.landing {
	@include background-simple ("../img/fields.jpg");
	@include breakpoint (768px) {
		@include background-simple ("../img/fields.jpg");
	}
	
}
.about {
	background-color: #334d5c;
	@include breakpoint (768px) {
		@include background-simple ("../img/water-lily.jpg");
	}
}
.individuals {
	background-color: #6897c1;
	@include breakpoint (768px) {
	@include background-simple ("../img/sf-row.jpg");
}
}
.couples {
	background-color: #c7bea0;
	@include breakpoint (768px) {
	@include background-simple ("../img/bench.jpg");
}
}
.mothers {
	background-color: #9cd0a8;
	@include breakpoint (768px) {
	@include background-simple ("../img/lady.jpg");
}
}
.family {
	background-color: #e27a3f;
	@include breakpoint (768px) {
	@include background-simple ("../img/boards.jpg");
}
}
.fees {
	background-color: #547980;
	@include breakpoint (768px) {
	@include background-simple ("../img/hills.jpg");
}
}
