

#intro {
	background-color: #fff;
	text-align: center;
	margin: 30px auto;
	.img-circle {
		margin-bottom: 40px;
		max-height: 175px;
		max-width: 175px;
		text-align: center;
	}
	color: #506673;
	h2 {
		font-weight: $light;
		margin-bottom: 10px;
		font-size: 2em;
	}
	h4 {
		font-weight: $light;
		margin: 5px auto;
		&:last-of-type {
			margin-bottom: 40px;
		}
	} 
	p {
		margin-bottom: 20px;
		text-align: left;
		font-size: 18px;
		line-height: 26px;
		&:last-of-type {
			margin-bottom: -20px;
		}
	}
}


#services-nav {
	background-color: #436066;
	.services-icon {
		margin: 40px auto;
		border-radius: 50%;
		height: 150px;
		width: 150px;
		background-color: #9de0ad;
		text-align: center;
		font-size: 36px;
		.icon:before {
			margin: 0;
			padding-top: 39%;
		}
		.icon-world {
			color: white;
			margin: 40px auto 0;
			padding-top: 50%;
		}
		h2 {
			margin-bottom: 40px
		}
	}

	h2 {
		text-align: center;
		font-weight: $light;
		color: #fff;
		margin: 0 0 20px;
	}

	.therapy {
		width: 100%;
		li {
			line-min-height: 100%;
			border-bottom: 1px solid #547880;
			&:last-of-type {
				border-bottom: 0px solid #ccc;
			}
			a {
				&.therapyLink {
					padding: 1.5em 0;
					margin: 0;
					width: 100%;
					position: relative;
					box-sizing: border-box;
					display: inline-block;
					color: #d4d4d4;
					font-size: 16px;
					font-weight: $light;
					letter-spacing: .05em;
					line-height: 24px;
					&:hover,&.hover_effect {
						color: #9BCEAA;
						strong {
						color: #9BCEAA;
						}
					}
					strong {
						
						letter-spacing: 0em;
						width: 15em;
						display: inline-block;
						font-size: 20px;
						font-weight: 100;
						color: #fff;
					}
					.icon {
						float: right;
						font-size: 1.3em;
						-webkit-transform:rotate(-180deg);
						-moz-transform:rotate(-180deg); 
						-o-transform:rotate(-180deg); 
						transform:rotate(-180deg);
						ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
						filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
					}	
				}
			}
		}
	}
	.nav-button {
		a {
			color: rgba(255,255,255,.4);
			border: 1px solid rgba(255,255,255,.4);
			&:hover,&.hover_effect, &:focus {
				color: rgba(255,255,255,1);
				border: 1px solid rgba(255,255,255,1);
			}
		}
	} 
}

#contact {
	background-color: #fff;
	color: #506673;
	.img-circle {
		margin-bottom: 40px;
		max-height: 175px;
		max-width: 175px;
	}
	a {
		color: rgba(80,102,115,.8);
		&:hover, &:focus {
			color: #1b2226;
		}
	}
	h2 {
		text-align: center;
		font-weight: $light;
		margin: 0 auto 40px;
		font-size: 2em;
	}
	h4 {
		font-weight: $light;
		font-size: 1.1em;
		margin: 5px auto;
		&:last-of-type {
			margin-bottom: 40px;
		}
	} 
	p {
		margin-bottom: 20px;
		text-align: left;
		font-size: 18px;
		line-height: 26px;
		&:last-of-type {
			margin-bottom: 	40px;
		}
	}
	
	.contact-icon {
		display: block;
		margin: 40px auto 10px;
		border-radius: 50%;
		height: 125px;
		width: 125px;
		background-color: #45ada8;
		text-align: center;
		font-size: 36px;
		color: white;
		.icon:before {
		margin: 0;
		padding-top: 39%;
		}
		.icon-pen {
		color: white;
		margin: 40px auto 0;
		padding-top: 50%;
		}
		height: 125px;
		width: 125px;
		margin: 40px auto 40px;
		h2 {
		margin-bottom: 40px;
		font-size: 2em;
		}
	}

	.address {
		text-align: center;
		color: #506673;
		margin: 40px auto 20px;
		h2 {
			margin-bottom: 40px;
		}
		h3 {
			margin-top: 0;
		}
		h4 {
			margin: 0 0 5px;
			&:last-of-type {
				color: red;
			}
		}
		a {
			color: #506673;
			&:hover, &:focus {
				color: #506673;
			}
			&.email {
				&:first-of-type {
				color: #506673;
				}
			}
		}
	}

	#map-canvas {
		height: 400px;
		width: 100%;
	}
	.map {
		display: none;
	}

}

#footer {
	text-align: center;
	color: #888c8f;
	background-color: #334d5c;
	padding: 50px 0;
}









